label {
  display: block;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  background-color:black;
  margin-left: 0px;
  margin-top: 0px;
  transition: all .5s;
}

.categoryName {
    text-align: center;
    margin-top: 40%;
    font-family: 'Cormorant Garamond', serif;
    font-size: 4vw;
    font-size: 4vh;
    color: white;
}

input[type="checkbox"]:checked + label {
  width: 150%;
  height: 150%;
  margin-top: -40%;
  margin-left: -65%;
  margin-bottom: 0%;
  margin-right: 0%;
  border-radius: 0;
  background: black;
  z-index:1;
  color:black;
}

input {
 visibility: hidden;
 position: absolute;
}