.header-top {
  flex-direction: column;
  flex-basis : 100%;
  align-items:center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.pagebody-bottom {
  flex-direction: column;
  align-items:center;
  background-color:red;
}
.title{
  font-family: 'Imbue', serif;
  font-size: 10vw;
  font-size: 10vh;
  letter-spacing: 7px;
  
}

.subtitle{
  font-family: 'Cormorant Garamond', serif;
  font-size: 4vw;
  font-size: 4vh;
}

